* {
    box-sizing: border-box;
  }

body {
  background-color: #FF9A8B;
background-image: linear-gradient(90deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);

}
  
  .row::after {
    content: "";
    clear: both;
    display: block;
  }
  
  [class*="col-"] {
    float: left;
    padding: 15px;
  }
  
  html {
    font-family: "Lucida Sans", sans-serif;
  }
  
  

  .header {
    background-color: #FF9A8B;
    background-image: linear-gradient(90deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);

    color: #ffffff;
    padding: 15px;
    border: 10px solid transparent;
    border-image: url(/imgs/border.png) 30 stretch;

  }
  
  .menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 10px solid transparent;
    border-image: url(/imgs/border.png) 30 stretch;
  }
  
  .menu li {
    padding: 8px;
    margin-bottom: 7px;
    background-color: #FF9A8B;
    background-image: linear-gradient(90deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);
    font-size: 20px;
    font-weight: 700;
    color: black;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

  }
  
  .menu li:hover {
    opacity: 0.7;
    cursor: pointer;
    color: black;
    
  }
  

  .aside {
    background-color: #FF9A8B;
    background-image: linear-gradient(90deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);
    
  
    
    text-align: center;
    font-size: 14px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border: 10px solid transparent;
    border-image: url(/imgs/border.png) 30 stretch;
  }
  
  .footer {
    background-color: #FF9A8B;
    background-image: linear-gradient(90deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);

    color: #ffffff;
    text-align: center;
    font-size: 12px;
    padding: 15px;
    border: 10px solid transparent;
    border-image: url(/imgs/border.png) 30 stretch;
  }
  
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
  
  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }
  }

  .topnav {
    color:black;
    overflow: hidden;
  
  }

  .topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size:60px;
    font-family: 'Rubik Vinyl', cursive;
    padding-top: 20px;
    font-weight: 1000;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    opacity: 0.80;

  }
  

  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }



  /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }

  .nav {
    padding-right: 20px;
  }

  #logo {
    width: 50%;
  }

  #logo-nav {
    width: 15%;
  }